version: "3.4"

services:
  dymension:
    image: dymension
    build:
      context: .
      dockerfile: ./Dockerfile.debug
    ports:
      - 36657:36657
      - 36656:36656
      - 8090:8090
      - 8091:8091
      - 1318:1318
      - 9545:9545
      - 9546:9546
      - 4000:4000
    command: sh ./scripts/start_localnode.sh
