name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.19
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v4.0.0
        with:
          config-path: .golangci.yml
          version: v1.49.0
          skip-cache: true