# This workflow pushes new dymension images on every new tag.
#
# On every new `vX.Y.Z` tag the following images are pushed:
#
# ghcr.io/dymensionxyz/dymension:X.Y.Z    # is pushed
# ghcr.io/dymensionxyz/dymension:X.Y      # is updated to X.Y.Z
# ghcr.io/dymensionxyz/dymension:X        # is updated to X.Y.Z
# ghcr.io/dymensionxyz/dymension:latest   # is updated to X.Y.Z

name: Push docker images on Release
on:
    release:
      types: [published, created, edited]
    push:
      tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # ignore rc
  
permissions:
    contents: read
    packages: write
  
jobs:
    build-and-push:
      runs-on: ubuntu-latest
      steps:
        - 
          name: Check out the repo
          uses: actions/checkout@v4
        - 
          name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}
        -
          name: Parse tag
          id: tag
          run: |
            VERSION=$(echo ${{ github.ref_name }} | sed "s/v//")
            MAJOR_VERSION=$(echo $VERSION | cut -d '.' -f 1)
            MINOR_VERSION=$(echo $VERSION | cut -d '.' -f 2)
            PATCH_VERSION=$(echo $VERSION | cut -d '.' -f 3)
            echo "VERSION=$VERSION" >> $GITHUB_ENV
            echo "MAJOR_VERSION=$MAJOR_VERSION" >> $GITHUB_ENV
            echo "MINOR_VERSION=$MINOR_VERSION" >> $GITHUB_ENV
            echo "PATCH_VERSION=$PATCH_VERSION" >> $GITHUB_ENV
        - 
          name: Build and push 
          id: build_push_image
          uses: docker/build-push-action@v3
          with:
            file: Dockerfile
            context: .
            push: true
            platforms: linux/amd64
            tags: |
                ghcr.io/dymensionxyz/dymension:${{ env.MAJOR_VERSION }}
                ghcr.io/dymensionxyz/dymension:${{ env.MAJOR_VERSION }}.${{ env.MINOR_VERSION }}
                ghcr.io/dymensionxyz/dymension:${{ env.MAJOR_VERSION }}.${{ env.MINOR_VERSION }}.${{ env.PATCH_VERSION }}